@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
header{
    width: 100%;
    background-color: indigo;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:  25px 0;
}
.logo{
    display: flex;
}
.logo img{
    background-color: indigo;
    width: 10%;
}
.logo h1{
    color:   white;
    margin-left: 10px;
    margin-top: 5px;
}
.nav-bar{
    display: flex;
}
.nav-bar a {
    text-decoration:  none;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    margin-top: 15px ;
}
.nav-bar img{
    margin-left: 15px;
}
main{
    width: 70%;
    margin: 20px auto;
    background-color: rgb(245, 238, 238);
    padding: 50px 20px;
    border-radius: 20px;
    
}
.main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.top-player hr{
     border:  1px solid gray;
     width: 95%;
     margin: 0px auto;
     margin-top: 80px;
}
.top-player h1{
    margin: 30px 10px;
    color: indigo;

}
.div1{
    display: flex;
    justify-content: flex-start;
}
.div1 h4{
    font-size: 1em;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.div1 img{
    width: 15%;
}

/* top-blogs :start  */

  .top-blog{
    margin-top: 50px;
  }
  .top-blog h1{
    color:  indigo;
    font-size: 2em;
    margin: 30px 10px;
  }
  .main-div2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .div2{
    display: flex;
  }
  .div2 img{
    width:  50%;
    margin-right:  20px;
  }
  .div2 p {
    margin-top: 4%;
    line-height: 2em;
  }
  .div2 p a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }
  .div2 small{
    font-weight: bold;
    color: gray;
  }
  .div2 span{
       font-size: 1rem;
       color:  green;
  }
  .div2 p:hover a{
    text-decoration: underline;
  }

/* top-blogs :end */


/* section :start  */

   .section-1{
            width: 70%;
            margin:  40px auto;
            background-color: rgb(245, 238, 238);
            border-radius: 20px;
   }
 .section-1 h1{
      font-size:  2em;
      margin: 40px 20px;
      padding:  30px 10px;
      color: indigo;
 }
   .main-div3{
     display: flex;
     justify-content: space-around;
   }
   .div3{
    width: 29%;
    box-shadow:  2px 2px 2px gray;
    border-radius: 10px;
    margin-bottom: 30px  ;
    background-color: white;
    padding: 10px;
   }
   .div3 img{
    width: 100%;
   }
   .div3 p {
     font-weight: bold;
     color: brown;
   }
   .div3 p img {
    width: 5%;
   }
   .div3 p .img1{

    background-color:rgb(223, 236, 236); 
    color: white;
   }
/* section :end */
